.cardImg {
    object-fit: contain;
    width: 100%;
    height: 250px;
}

.ellipsis{
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden;
}

